
table.table1 {
    border: 1px solid;
    width: 13%;
    border: blue 1px solid;
    display: inline-block;
    table-layout: fixed;
    width: 14%; 
    top: 180px;
  }

table.table2 {
  border: 1px solid;
  width: 13%;
  border: blue 1px solid;
  display: inline-block;
  table-layout: fixed;
  width: 14%; 
    
}

table.table3 {
  border: 1px solid;
  width: 13%;
  border: blue 1px solid;
  display: inline-block;
  table-layout: fixed;
  width: 14%; 
  top: 180px;
}

table.table4 {
  border: 1px solid;
  width: 13%;
  border: blue 1px solid;
  display: inline-block;
  table-layout: fixed;
  width: 14%; 
  top: 180px;
}

table.table5 {
  border: 1px solid;
  width: 13%;
  border: blue 1px solid;
  display: inline-block;
  table-layout: fixed;
  width: 14%; 
  top: 180px;
}

table.table6 {
  border: 1px solid;
  width: 13%;
  border: blue 1px solid;
  display: inline-block;
  table-layout: fixed;
  width: 14%; 
  top: 180px;
}

table.table7 {
  border: 1px solid;
  width: 13%;
  border: blue 1px solid;
  display: inline-block;
  table-layout: fixed;
  width: 14%; 
  top: 180px;
}

  
table.table8 {
  border: 1px solid;
  width: 13%;
  border: blue 1px solid;
  display: inline-block;
  table-layout: fixed;
  width: 14%; 
  top: 283px;
}

table.table9 {
border: 1px solid;
width: 13%;
border: blue 1px solid;
display: inline-block;
table-layout: fixed;
width: 14%; 
top: 283px;
}

table.table10 {
border: 1px solid;
width: 13%;
border: blue 1px solid;
display: inline-block;
table-layout: fixed;
width: 14%; 
top: 283px;
}

table.table11 {
border: 1px solid;
width: 13%;
border: blue 1px solid;
display: inline-block;
table-layout: fixed;
width: 14%; 
top: 283px;
}

table.table12 {
border: 1px solid;
width: 13%;
border: blue 1px solid;
display: inline-block;
table-layout: fixed;
width: 14%; 
top: 283px;
}

table.table13 {
border: 1px solid;
width: 13%;
border: blue 1px solid;
display: inline-block;
table-layout: fixed;
width: 14%; 
top: 283px;
}

table.table14 {
border: 1px solid;
width: 13%;
border: blue 1px solid;
display: inline-block;
table-layout: fixed;
width: 14%; 
top: 283px;
}



